/* 
// This is a ist of the class used in the "providerCard" method:
// provider-card
// card-header
// card-header-title-row
// card-header-provider-title
// card-header-provider-first-name
// card-header-provider-last-name
// badge-icons-section
// card-header-specialties-row
// specialty-button
// specialty-name
// card-body
//////////////////////////
*/

:root {
    --main-color: hsl(203, 95%, 23%);
    --light-main-color: hsl(203, 100%, 75%);
    --main-gray: hsl(203, 29%, 90%);
    --main-gray-dark: hsl(203, 29%, 80%);
    --main-gray-darker: hsl(203, 29%, 70%);
    --main-gray-darkest: hsl(203, 29%, 60%);
    --main-gray-light: hsl(203, 29%, 95%);
    --main-gray-lighter: hsl(203, 29%, 97%);
    --main-gray-lightest: hsl(203, 29%, 99%);

}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--main-color);
    padding: 20px;
    text-align: center;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 2rem;
}

.page-title {
    color: white;
    font-size: 2rem;
    margin: 0;
}

p {
    margin: 0;
}

main {
    padding: 20px;
}

.search-form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

#search-query {
    width: 100%;
    height: 1.5rem;
    background: hsl(203, 29%, 90%);
    margin-bottom: 15px;
}

.search-form label {
    margin-right: 5px;
}

.search-form input,
.search-form select {
    padding: 5px;
}
 
.form-checkbox-wrap {
    width: 100%;
    margin: 0.5rem 0;
}

.form-dropdown-wrap {
    margin: 0.5rem;
}

button {
    background-color: var(--main-color);
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    /* margin-left: auto; */
    /* margin-top: 15px; */
    /* margin-bottom: 15px; */
}

button:hover {
    background-color: #45a049;
}

.search-results {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

.provider-card {
    background-color: var(--main-gray);
    border-radius: 5px;
    padding: 20px;
    border-bottom: black solid 1px;
    margin-bottom: 50px;
}


.information-card {
    display: flex;
    gap: 1.5rem;
    padding: 1.5rem;
    background-color: #d0d0d0;
    flex-direction: column;
}


.important-info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    background-color: #f1f1f1;
    height: 100%;
    border: 1px solid #ff1e00;
}

.card-header {
    display: flex;
    flex-direction: column;
}

.card-header-title-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.6rem;

}

.card-header-provider-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-header-provider-first-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-header-provider-last-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.badge-icons-section {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-left: auto;
}

.departing-date {
    display: inline;
    font-weight: bold;
    font-size: 0.8rem;
    gap: 0.5rem;
    color: orangered;
}

.card-header-specialties-row {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.specialty-button {
    display: flex;
    flex-grow: 1;
    background-color: var(--main-gray-darkest);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    padding: 5px 10px;
    margin: 0;
    gap: 0.5rem;
    align-items: center;
}

.specialty-name {
    color: white;
    font-size: 1rem;
}

.card-body {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin: 1rem;
    margin-left: 0;
}

.location-group {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--main-gray-dark);
}

